@use '@styles/variables/colors' as color;
@use '@styles/variables/fonts' as font;

.header {
  background-color: color.$secondary;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 0;
  text-align: center;
  .left,
  .right {
    display: flex;
    align-self: center;
    padding-inline: 0.5rem;
  }
  .center {
    display: flex;
    align-self: center;
    .logo {
      font-family: font.$font-primary;
      text-transform: uppercase;
      color: color.$dark;
    }
  }
  .left {
    padding-left: 1rem;
  }
  .right {
    padding-right: 1rem;
    a {
      i {
        display: flex;
        color: color.$dark;
        &::before {
          font-size: 1.5rem;
        }
      }
    }
  }
}
