@use '@styles/variables/colors' as color;
@use '@styles/variables/fonts' as font;
@use '@styles/mixins/media_queries' as query;

.header {
  background-color: color.$white;
  display: flex;
  justify-content: space-between;
  min-height: 160px;
  padding: 3rem 2rem;
  text-align: center;
  width: 100%;
  z-index: 2;
  .menu,
  .right {
    align-self: center;
    display: flex;
  }
  .center {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 40%;
    .logo {
      align-items: center;
      color: color.$dark;
      display: flex;
      font-family: font.$font-primary;
      gap: 0.3rem;
      text-transform: uppercase;
      @include query.respond(sm) {
        font-size: larger;
      }
      i {
        color: color.$primary;
        &::before {
          font-size: 1.4rem;
        }
      }
    }
  }
  .right {
    width: calc(30% - 1rem);
    justify-content: end;
    gap: 1rem;
    a {
      i {
        &::before {
          font-size: 1.2rem;
        }
      }
    }
  }
}
