@use '@styles/variables/colors' as color;

.langs {
  display: flex;
  align-items: center;
  position: relative;
  ul {
    padding: 0;
    position: absolute;
    top: 30px;
    li {
      button {
        color: color.$dark;
        padding: 0;
        border-width: unset;
        border: none;
        background-color: unset;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          //   margin-bottom: 0.2rem;
        }
      }
    }
  }
  .setter {
    cursor: pointer;
    text-transform: uppercase;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: color.$dark;
    p {
      font-size: 0.875rem;
    }
    i {
      transition: transform 0.5s;
      &.open {
        transform: rotate(-180deg);
      }
      // &:hover {
      //   text-decoration: underline;
      //   margin-bottom: 0.2rem;
      // }
    }
  }
}
