@use '@styles/variables/colors' as color;

//- shared menu-list
ul.menu-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  a {
    color: color.$dark;
    text-decoration: none;
    font-weight: 300;
    @media (hover: hover) {
      &:hover {
        color: color.$dark2;
      }
    }
  }
}
.menu {
  justify-content: start;
  // padding-left: 1rem;
  width: calc(30% - 1rem);
  .burger-wrapper {
    .burger-button {
      align-items: center;
      display: flex;
      justify-content: center;
      .burger-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        padding: 0;
        width: 25px;
        .burger-icon {
          background-color: #333;
          display: block;
          height: 2px;
          transition:
            transform 0.3s ease,
            opacity 0.3s ease;
          width: 100%;
        }
        .burger-icon.open:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }

        .burger-icon.open:nth-child(2) {
          opacity: 0;
        }

        .burger-icon.open:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
  .desktop-menu {
    .menu-list {
      font-size: 0.875rem;
      @media (min-width: 768px) and (max-width: 1200px) {
        // Corregido: añadido "px"
        &.desktop {
          align-items: center;
          flex-wrap: wrap;
          gap: 0.4rem;
        }
      }
    }
  }
}
.burger-menu {
  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: transform 0.3s ease;
  }
  .slide-left-enter-from {
    transform: translateX(-100%);
  }
  .slide-left-leave-to {
    transform: translateX(-100%);
  }
  .nav-menu {
    background-color: color.$white;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    .menu-list {
      &.mobile {
        flex-direction: column;
        padding: 2rem;
      }
    }
  }
}
