@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./fonts/brandon-grotesque/BrandonGrotesque-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./fonts/brandon-grotesque/BrandonGrotesque-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

// fonts
$font-primary: 'Brandon Grotesque', sans-serif;
// $font-secondary: -apple-system, blinkmacsystemfont, roboto, 'Segoe UI', helvetica, arial, sans-serif,
//     'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// $font-mono: 'Fira Mono', monospace;
// $font-tertiary: 'Fira Mono';
