@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Thin-Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Light-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Medium-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Bold-Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('@/styles/fonts/Brandon-Grotesque-Black-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brandon GroteFasque';
  src: url('@/styles/fonts/Brandon-Grotesque-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//crimson:
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

// fonts
$font-primary: 'Brandon Grotesque', sans-serif;
$font-secondary: 'Crimson Pro', serif;
