@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./fonts/brandon-grotesque/BrandonGrotesque-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./fonts/brandon-grotesque/BrandonGrotesque-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

// fonts
$font-primary: 'Brandon Grotesque', sans-serif;
$font-secondary: 'Crimson Pro', serif;
