$img-parallax-1: '@images/photos/img-parallax-1.jpg';
$img-parallax-2: '@images/photos/img-parallax-2.jpg';
$img-parallax-3: '@images/photos/img-parallax-3.jpg';
$logo: '@images/logos/logo-irenemerino.svg';
