@use '@styles/variables/colors' as color;
@use '@styles/mixins/media_queries' as *;
.instagram-wrapper {
  display: flex;
  justify-content: center;

  .v-spinner {
    padding: 4rem;
  }
  .instagram-gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    justify-content: center;
    @include respond(lg) {
      justify-content: unset;
    }
    .instagram-gallery-item {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1 0 18rem;
      margin: 1rem;
      color: #fff;
      cursor: pointer;
      .instagram-gallery-image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  .instagram-alternative {
    &.instagram-gallery {
      .instagram-gallery-item {
        flex-direction: row;
        flex: unset;
        width: 18rem;
        height: 18rem;
        cursor: unset;
      }
    }
  }
}
