@use '@styles/mixins/media_queries' as query;
@use '@styles/variables/colors' as color;

.contact-form {
  width: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 0.85rem;
  .form-group-wrapper {
    display: flex;
    flex-wrap: wrap;
    .form-group {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      @include query.respond(sm) {
        width: unset;
        padding: 0.5rem;
        flex: 1;
      }
      .form-label {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: color.$black;
        text-align: left;
      }
      .form-input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: color.$primary;
        background-color: color.$white;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition:
          border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
          &:read-only {
            background-color: #e9ecef;
            border-color: #ced4da;
            color: #495057;
          }
        }
        &::placeholder {
          font-family: 'Crimson Pro', serif;
        }
      }
      .form-input[disabled],
      .form-input:disabled {
        background-color: #e9ecef;
        opacity: 1;
      }
    }
    .error-message {
      margin-left: 0.2rem;
      .text-danger {
        color: color.$error;
      }
    }
    &.conditions {
      padding: 0.5rem;
      font-size: small;
      color: color.$black;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .input-wrapper {
        gap: 0.3rem;
        display: flex;
        align-items: center;
      }
      input {
        cursor: pointer;
      }
    }
  }
  .submit-wrapper {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
}
