@use '@styles/variables/colors' as color;
@use '@styles/mixins/media_queries' as query;

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact-header {
    width: 100%;
    .img-container {
      height: 300px;
      width: 100%;
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .contact-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    gap: 2rem;
    @include query.respond(md) {
      font-size: 2rem;
      padding: 1rem;
    }
    section {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .email {
        font-size: 0.85rem;
      }
      &.map {
        justify-content: center;
        iframe {
          width: 100%;
          border-radius: 0.5rem;
        }
      }
      &.other-ways {
        div {
          display: flex;
          gap: 0.2rem;
          align-items: center;
          cursor: pointer;
          a {
            display: flex;
            gap: 0.2rem;
            align-items: center;
            &:hover {
              p {
                text-decoration: underline;
              }
            }
          }
        }
      }
      @include query.respond(md) {
        max-width: 60%;
        &.email-side,
        &.map-side {
          width: 50%;
        }
        &.map {
          max-width: unset;
          padding: 1.5rem;
        }
      }
    }
  }
}
