@use '@styles/variables/colors' as color;
@use '@styles/variables/images' as image;

.home {
  background-color: color.$white;
  width: 100%;
  flex: 1;
  overflow: auto;
  .parallax {
    /* Set a specific height */
    min-height: 70vh;
    width: 95%;
    margin: 0 auto;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.parallax-1 {
      background-image: url('#{image.$img-parallax-1}');
    }
    &.parallax-2 {
      background-image: url('#{image.$img-parallax-2}');
    }
    &.parallax-3 {
      background-image: url('#{image.$img-parallax-3}');
    }
    &.desktop {
      background-attachment: fixed;
    }
    &.mobile {
      background-attachment: scroll;
    }
  }
  section {
    padding: 2.5rem 2rem;
  }
}
